extends layout

block content
  h1= title

  if (toShow == null)
    h2 No instance to delete
  else
    - let sweetmagicid = toShow._id
    - let sweetmagicItemname = toShow.Itemname
    - let sweetmagicQuantity = toShow.Quantity
    - let sweetmagicprice = toShow.price
    - let actionid = "/resource/sweetmagic/" + sweetmagicid

    script let actionid = "#{actionid}"
    div
      div.row
        div(class='sweetmagicAttr mr-3') sweetmagic ID is:
        div(class='newAttr') #{sweetmagicid}
      div.row
        div(class='sweetmagicAttr mr-3') sweetmagic Itemname is:
        div(class='newAttr') #{sweetmagicItemname}
      div.row
        div(class='sweetmagicAttr mr-3') sweetmagic Quantity is:
        div(class='newAttr') #{sweetmagicQuantity}
      div.row
        div(class='sweetmagicAttr mr-3') sweetmagic price is:
        div(class='newAttr') #{sweetmagicprice}
      

    button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel

  script.
    function cancel() {
      // Go back to the home page for the costume collection
      window.location.href='/sweetmagic'
    }
  script.
    function deleteOnid() {
      console.log("Deleting the Resource")
      // delete first
      fetch(actionid, {
        method: 'DELETE'      // Don't need a body for the delete
      }).then((resp) => {
        return resp.json();   // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Delete succeded")
        window.location.href='/sweetmagic'
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Delete failed " + error )
      });
    }